:host {
  .rm-marble {
    display: inline;
  }

  /deep/ .rm-marble-label {
    white-space: pre-wrap;
    width: 600px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 16px;
  }
}
